doctype html
html.scroll-smooth(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap' rel='stylesheet')
    link(rel="stylesheet", href="./src/styles/main.min.css")
    title Yameal
  body.w-full.flex.flex-col.justify-center.items-center.select-none 
    .w-full.flex.flex-col.justify-center.items-center(class="max-w-[90rem]")
      include ./sections/header
      include ./sections/hero
      include ./sections/recruitment
      .w-full.flex.flex-col.justify-center.items-center.max-w-6xl
        include ./sections/categories
        include ./sections/discount
        include ./sections/menu
      include ./sections/testimonial
      include ./sections/newsletter
      include ./sections/footer
      include ./sections/copyright