.w-full.bg-gray-900.flex.flex-col.justify-center.items-center.text-center
  .w-full.max-w-6xl.py-4.text-white 
    div Based on design by  
      a.text-orange-400(href="https://webdesign.gdn/product/restaurant-website-potluck/" target="_blank") @webdesign
    div Made by 
      a.text-orange-400(href="https://yamdev.online/" target="_blank") @yamdev.online
      |  in June 2022