.w-full.bg-gray-900.flex.flex-col.justify-center.items-center.text-center
  .w-full.max-w-6xl.py-8.text-white 
    div Based on design by  
      a.text-orange-400.transition-all(href="https://webdesign.gdn/product/restaurant-website-potluck/" target="_blank" class="hover:text-red-400") @webdesign
    div Made by 
      a.text-orange-400.transition-all(href="https://yamdev.online/" target="_blank" class="hover:text-red-400") @yamdev.online
      |  in June 2022