.w-full.h-96.mt-20.relative.rounded-lg.overflow-hidden
  img.w-full.h-full.object-cover(src="./src/assets/images/food4.png", alt="food")
  .absolute.w-full.h-full.top-0.left-0.text-white.flex.flex-col.justify-center.items-center.text-center.bg-gradient-to-t.from-transparent(class="to-black/80")
    .font-semibold.text-4xl Get up to 50% off when
      br
      | booking a table for dinner 
    .mt-4 Eat the food you dream about at affordable prices.
    p No need to come to us just call us. Explore the best foods by categories.
    a.mt-8.px-8.py-4.rounded-lg.bg-orange-400.text-white.text-center.font-semibold.capitalize.transition-all(href="" class="hover:bg-white hover:text-orange-400 hover:shadow-md") Book now