.w-full.bg-orange-100.flex.flex-col.justify-center.items-center.sticky.top-0.z-20.shadow-md.px-4(class="sm:px-8 xl:px-0")
  .w-full.flex.justify-between.items-center.max-w-6xl.py-4
    a.font-bold.text-3xl.text-orange-400(href="") Ya
      span.text-blue-900 meal
      span.text-orange-400 . 
    .nav-items.fixed.inset-0.bg-gradient-to-l.from-black.font-semibold.capitalize.z-30.flex.flex-col.items-end.text-white.p-8.text-2xl.gap-4.transfrom.translate-x-full.transition-all(class="to-black/50 md:bg-none md:text-base md:p-0 md:relative md:flex  md:transform-none md:flex-row md:items-start md:text-black lg:gap-12")
      .close-button.text-3xl(class="md:hidden")
        ion-icon(name="close-outline") 
      each item in ["Home", "Categories", "Menu", "About us"]
        if (item === "Home")
          a.link(href="#")= item
        else if (item === "About us")
          a.link(href="#about")= item
        else
          a.link(href=`#${item.toLowerCase()}`)= item
    .nav-links.fixed.z-30.flex.flex-col.gap-4.bottom-8.right-8.transfrom.transition-all(class="translate-y-[10rem] md:transform-none md:relative md:flex-row md:bottom-0 md:right-0 md:flex md:gap-4")
      a.px-4.py-2.rounded-lg.bg-orange-400.text-white.text-2xl.uppercase.font-semibold.transition-all(href="" class="hover:bg-white hover:text-orange-400 hover:shadow-md md:p-2 md:text-sm lg:px-4 lg:py-2") Sign up
      a.px-4.py-2.rounded-lg.bg-blue-900.text-white.text-2xl.uppercase.font-semibold.transition-all(href="" class="hover:bg-white hover:text-blue-900 hover:shadow-md md:p-2 md:text-sm lg:px-4 lg:py-2") Sign in
    .flex.gap-4(class="md:hidden")
      .expand-button.w-12.h-12.bg-orange-400.flex.items-center.rounded-lg.text-3xl.text-white.flex.justify-center.items-center(href="" class="hover:bg-white hover:text-orange-400 hover:shadow-md")
        ion-icon(name="menu-outline")  