.w-full.bg-orange-100.flex.flex-col.justify-center.items-center.sticky.top-0.z-20.shadow-md.px-4(class="sm:px-8 xl:px-0")
  .w-full.flex.justify-between.items-center.max-w-6xl.py-4
    a.font-bold.text-3xl.text-orange-400(href="") Ya
      span.text-blue-900 meal
      span.text-orange-400 . 
    .gap-4.font-semibold.capitalize.hidden(class="md:flex lg:gap-12")
      each item in ["Home", "Categories", "Menu", "About us"]
        if (item === "Home")
          a.link(href="#")= item
        else if (item === "About us")
          a.link(href="#about")= item
        else
          a.link(href=`#${item.toLowerCase()}`)= item
    .hidden.gap-4(class="md:flex")
      a.p-2.rounded-lg.bg-orange-400.text-white.text-sm.uppercase.font-semibold.transition-all(href="" class="hover:bg-white hover:text-orange-400 hover:shadow-md lg:px-4 lg:py-2") Sign up
      a.p-2.rounded-lg.bg-blue-900.text-white.text-sm.uppercase.font-semibold.transition-all(href="" class="hover:bg-white hover:text-blue-900 hover:shadow-md lg:px-4 lg:py-2") Sign in
    .flex.gap-4(class="md:hidden")
      .w-12.h-12.bg-orange-400.flex.items-center.rounded-lg.text-3xl.text-white.flex.justify-center.items-center(href="" class="hover:bg-white hover:text-orange-400 hover:shadow-md")
        ion-icon(name="menu-outline")  