.w-full.bg-orange-100.flex.flex-col.justify-center.items-center
  .w-full.max-w-6xl.grid.grid-cols-2.items-center.mt-12
    div
      .font-extrabold.text-6xl.capitalize.max-w-lg Yummy food for busy people.
      p.mt-4 Eat the food you dream about at affordable prices.
      p No need to come to us just call us.
      a.mt-8.flex.items-center(href="")
        .h-14.flex.justify-center.items-center.bg-orange-400.text-white.px-8.font-semibold.rounded-tl-lg.rounded-bl-lg.capitalize Explore menu
        .h-14.px-4.bg-white.flex.justify-center.items-center.text-xl.rounded-tr-lg.rounded-br-lg
          ion-icon(name="chevron-forward")
    .flex.justify-end
      .bg-white.rounded-lg.w-96
        img.w-full.object-cover(src="./src/assets/images/food0.png", alt="food")
        .p-8.flex.flex-col.justify-center.items-center
          .capitalize.font-bold.text-xl Eggs benedict burger 
          div Price: 
            span.font-bold.text-xl $25
          .mt-4 
            .capitalize.font-semibold.text-lg Delivery info 
            p We are commited to deliver your food within 30 minutes to your doorstep.
          a.mt-8.w-full.p-4.rounded-lg.bg-orange-400.text-white.text-center.font-semibold.capitalize(href="") Add to cart