#menu.scroll-mt-36.w-full.mt-8.px-4(class="sm:px-8 xl:px-0 md:mt-20") 
  .font-extrabold.text-5xl.max-w-md.capitalize Our delicious food menu. 
  .max-w-xl.mt-4
    p Eat the food you dream about at affordable prices.
    p No need to come to us just call us. Explore the best foods by categories.
  .menu-layout.mt-8
    .font-semibold.flex.flex-col.justify-center.gap-4.text-xl
      each item in ["Breakfast", "Luch", "Dinner", "Water & drinks", "Snacks & desserts"]
        if item === "Breakfast"
          .menu-item.selected(style="--value: 0")= item
        else
          .menu-item.hoverable= item
    div.bg-red
      .menu(class="w-48 sm:w-72 md:w-[28rem] lg:w-[47rem]")
        each food, index in [{name: "Banh mi", rating: 5}, {name: "Com tam", rating: 5}, {name: "Pho", rating: 5}, {name: "Ca phe trung", rating: 5}]
          .flex.flex-col.relative.h-96.rounded-lg.overflow-hidden
            img.w-full.h-full.object-cover(src=`./src/assets/images/food${index}.png`, alt="food")
            .w-full.h-full.absolute.left-0.top-0.flex.flex-col.justify-between.p-4.bg-gradient-to-b(class="from-black/80 via-transparent to-black/80 md:from-transparent md:to-black/80 md:p-8 md:flex-row md:items-end")
              div 
                .font-semibold.text-white.capitalize= food.name
                each star in [...Array(food.rating).keys()]
                  ion-icon.text-orange-400(name="star")
              a.px-6.py-3.rounded-lg.text-center.bg-white.font-semibold.capitalize.transition-all(href="", class="hover:bg-orange-400 hover:text-white") Order now