#about.scroll-mt-16.w-full.bg-orange-400.flex.flex-col.justify-center.items-center.px-4(class="sm:px-8 xl:p-0")
  .w-full.max-w-6xl.py-8.text-white(class="md:py-20")
    .font-extrabold.text-5xl.capitalize Our newsletter 
    .grid.grid-cols-1.mt-8(class="md:grid-cols-2")
      div
        .flex
          input.w-48.p-4.border.border-white.rounded-tl-lg.rounded-bl-lg.outline-none.bg-transparent(type="text" placeholder="Enter your email address" class="focus:outline-none placeholder:text-white md:w-80")
          a.px-8.py-4.bg-amber-900.font-semibold.rounded-lg.transition-all(href="" class="-ml-2 hover:bg-white hover:shadow-md hover:text-orange-400") Subscribe
        p.mt-8 Email newsletters can include a weekly round-up of blog posts, case studies regarding our product or service, upcoming company events and webinars, or even a behind-the-scenes look at our company.
      .flex.flex-col.mt-8(class="md:items-end md:mt-0")
        .font-semibold.text-xl Follow us 
        .mt-4.flex.rounded-lg
          each logo in ["facebook", "twitter", "instagram"]
            a(href="") 
              ion-icon.icon-ml.text-2xl.border.border-white.p-4.transition-all(name=`logo-${logo}` class="hover:text-orange-400 hover:bg-white")