.mt-20.w-full.bg-gray-100.flex.flex-col.justify-center.items-center
  .w-full.max-w-6xl.grid.grid-cols-2.items-center.py-20.gap-20
    div 
      q
        i When I feel very hungry, I always order through them. They brings the food infront of my doorstep. Really an amazing platform for foods. They are providing the best and I enjoy order with them. They has been ensuring the quality foods for all the time.
      .flex.mt-8.items-center.gap-4 
        img.w-20.h-20.rounded-full(src="./src/assets/images/avatar4.png", alt="avatar")
        div 
          .font-semibold.text-xl Anthony Palnter 
          div Director of MA 
      .flex.gap-4.mt-8
        .w-12.h-12.rounded-lg.border-2.border-gray-300.flex.justify-center.items-center.text-gray-300.text-xl.cursor-pointer(class="hover:text-white hover:bg-orange-400 hover:border-orange-400") 
          ion-icon(name="arrow-back")
        .w-12.h-12.rounded-lg.border-2.border-gray-300.flex.justify-center.items-center.text-gray-300.text-xl.cursor-pointer(class="hover:text-white hover:bg-orange-400 hover:border-orange-400")  
          ion-icon(name="arrow-forward")
    .flex.justify-end
      .max-w-md 
        .font-extrabold.text-5xl.capitalize What our clients say about us. 
        p.mt-4 Read what our clients say about us. Know the best feedback from them.
        a.mt-8.flex.items-center(href="")
          .h-14.flex.justify-center.items-center.bg-orange-400.text-white.px-8.font-semibold.rounded-tl-lg.rounded-bl-lg.capitalize Read all
          .h-14.px-4.bg-white.flex.justify-center.items-center.text-xl.rounded-tr-lg.rounded-br-lg
            ion-icon(name="chevron-forward")