@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  a.link {
    position: relative;
  }

  a.link:hover {
    transition: ease-in-out 0.3s;
    color: rgb(251 146 60);
  }

  a.link:hover::before {
    width: 100%;
  }

  a.link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(251 146 60);
    left: 0;
    bottom: -2px;
    transition: ease-in-out 0.3s;
  }

  .left-18 {
    margin-left: 4.5rem;
  }

  .menu-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
  }

  .icon-ml {
    margin-left: -1px;
  }

  .footer-layout {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 2rem;
  }
}
